<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>DefaultCompletionName</key>
        <string>MyScene</string>
        <key>Description</key>
        <string>Feature Template</string>
        <key>Kind</key>
        <string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
        <key>Options</key>
        <array>
            <dict>
                <key>Description</key>
                <string>The name of the Feature to create</string>
                <key>Identifier</key>
                <string>productName</string>
                <key>Name</key>
                <string>New Feature Name:</string>
                <key>Required</key>
                <true/>
                <key>Type</key>
                <string>text</string>
            </dict>
        </array>	
        <key>SortOrder</key>
        <string>9</string>
        <key>Summary</key>
        <string>ViewController and ViewModel.</string>
    </dict>
</plist>